@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.redcol {
  background-color: #dc0a2d;
}

.wide {
  width: calc(100% - 1rem);
}

.imgNoShow {
  filter: brightness(0%);
}

.imgShow {
  filter: brightness(100%);
}

.nameNoShow {
  display: none;
}

.nameShow {
  display: block;
}
